@font-face {
    font-family: 'lato light';
    src: url('lato/Lato-Light.ttf');
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/*  VARIABLES  */
:root {
    --background: rgb(248, 244, 241);
    --border: rgb(65, 65, 65);
    --border-unfocused: rgb(204, 204, 204);
    --text: rgb(48, 29, 16);
    --text-unfocused: rgb(158, 158, 158);
}
/*  GENERAL STYLES  */
* {
    background-color: var(--background);
    border-color: var(--border);
    color: var(--text);
    font-family: 'lato light';
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}

/*  MAKING THE IFRAME ELEMENT FIT  */
#header {
    border: none;
    width: 100%;
    height: 12vw;
}

/*  MAIN BODY  */
#main-wrapper {
    border: 4vw solid transparent;
    display: flex;
    justify-content: space-between;
    padding: 4vw;

    border-image: linear-gradient(to bottom right,
        rgb(249, 135, 134),
        rgb(240, 226, 239),
        rgb(246, 200, 179),
        rgb(222, 199, 245)) 1;
}
.main-button {
    border-bottom: 2px solid var(--border-unfocused);
    cursor: pointer;
    transition: 0.4s;
    width: 18vw;
}
.main-button:hover {
    border-color: var(--border);
}
.main-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;;
}
.text-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    height: 10vw;
    justify-content: center;
}
.main-title {
    font-size: 2vw;
}
.main-text {
    text-align: center;
}

/*  MEDIA AT THE BOTTOM OF THE PAGE  */
#media-wrapper {
    align-items: center;
    display: flex;
    height: 20vw;
    justify-content: center;
    margin-top: 5vw;

    background: linear-gradient(to right,
        rgb(232, 204, 237),
        rgb(191, 173, 192),
        rgb(228, 216, 221),
        rgb(243, 208, 209),
        rgb(248, 244, 241));
}
#media {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;
    justify-items: center;
    padding-bottom: 2vw;
    padding-top: 2vw;
    width: 60%;
}
.media-text {
    align-self: end;
}
.media-link {
    align-items: center;
    align-self: center;
    cursor: pointer;
    display: flex;
}
#foot {
    box-sizing: border-box;
    font-size: 0.8vw;
    height: 15vw;
    padding-top: 5vw;
    text-align: center;
}