@font-face {
    font-family: 'lato light';
    src: url('lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'lato medium';
    src: url('lato/Lato-Medium.ttf');
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

/*GLOBAL COLORS*/
:root {
    --background: rgb(248, 244, 241);
    --border: rgb(65, 65, 65);
    --border-unfocused: rgb(204, 204, 204);
    --text: rgb(48, 29, 16);
    --text-unfocused: rgb(158, 158, 158);
}

/*GLOBAL STYLES*/
* {
    background: var(--background);
    border-color: var(--border);
    color: var(--text);
    font-family: 'lato light';
    font-size: 1vw;
    margin: 0;
    padding: 0;
}

/*HEADER*/
#header-wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 11vw;
    justify-content: space-evenly;
    padding-top: 1vw;
}
#title {
    font-family: 'lato medium';
    font-size: 1.7vw;
    letter-spacing: 0.5vw;
}
#nav-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
#nav-wrapper a:not(#cur-page){
    border-bottom: 2px solid var(--border-unfocused);
    border-top: 2px solid var(--border-unfocused);
    color: var(--text-unfocused);
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 0.9vw 0;
    transition: 0.4s;
}
#nav-wrapper a:not(#cur-page):hover {
    border-bottom: 2px solid;
    border-top: 2px solid;
    color: var(--text);
}
#cur-page {
    border-bottom: 2px solid;
    border-top: 2px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 0.9vw 0;
}

/*BODY*/
#body-wrapper {
    border: 4vw solid transparent;
    box-sizing: border-box;
    display: flex;
    height: 48vw;
    justify-content: space-evenly;
    padding: 4vw 0;

    border-image: linear-gradient(to bottom right,
        rgba(249, 135, 134, 0.7),
        rgba(240, 226, 239, 0.7),
        rgba(246, 201, 180, 0.7),
        rgba(222, 199, 245, 0.7)) 1;
}
#body-wrapper a {
    border-bottom: 2px solid var(--border-unfocused);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}
#body-wrapper a:hover {
    border-bottom: 2px solid var(--border);
}
#body-wrapper img {
    align-self: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 17vw;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 17vw;
}
.body-title {
    font-size: 2vw;
}

/*FOOTER*/
#media-wrapper {
    align-items: center;
    display: flex;
    height: 20vw;
    justify-content: center;
    margin: 4vw 0;

    background-image: linear-gradient(to right,
        rgba(231, 203, 236, 0.7),
        rgba(194, 180, 195, 0.7),
        rgba(235, 226, 235, 0.7),
        rgba(243, 215, 216, 0.7),
        rgba(248, 244, 241, 0.7));
}
#media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
    justify-items: center;
    row-gap: 1vw;
    width: 50%;

    box-sizing: border-box;
    padding: 0 5vw;
}
#media p {
    align-self: flex-end;
}
#media a {
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
    display: flex;
}
#media img {
    aspect-ratio: 1 / 1;
    width: 2vw;
}
#copyright-wrapper {
    display: flex;
    font-size: 0.8vw;
    height: 15vw;
    justify-content: center;
    margin-top: 7vw;
}
